#{{ ansible_managed }}

[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes
Requires=kube-controller-manager.service
After=kube-controller-manager.service

[Service]
ExecStart=/usr/local/bin/kube-scheduler \
  --config=/etc/kubernetes/config/kube-scheduler.yaml \
  -v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target